h1 Add new book to Store
form(action="/books/create",method="POST")
  label(for="title") Title
  br
  input(type="text",name="title")
  br
  label(for="decsription") Description
  br
  input(type="text",name="description")
  br
  button Create